.date-dropdown {
    position: absolute;
    z-index: 10;
    border-top: 0.0625rem solid #d8d9db;
    background-color: #f1f2f4;
    width: 16rem;
    height: 16rem;
    padding: 1rem;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calendar-header-text {
    font-weight: bold;
    font-size: 1rem;
}

.calendar-header-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.calendar-header-icon:hover {
    color: #3795da;
}

.calendar-date-name {
    padding: 0.5rem 0;
    color: #2d333f;
}

.calendar-dates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.calendar-date {
    font-weight: bold;
    line-height: 2.0625rem;
    border: 0.06125rem solid #d8d9db;
    cursor: pointer;
}

.calendar-date:hover, .calendar-date-selected {
    line-height: 1.8125rem;
    border: 0.125rem solid #3795da;
}