.new-restaurant {
    position: absolute;
    top: 5.125rem;
    left: calc(calc(100% - 100rem) / 2);
}

.field {
    position: relative;
    left: max(0px, calc(calc(100% - 30rem) / 2));
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 30rem;
    margin-top: 5rem;

    border: 1.5px solid #3795da;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    padding: 0 2rem 2rem;
    padding-top: 1rem;

    transition: all .3s
}

.field h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.75rem;
    margin-bottom: 1rem;

    transition: all .3s
}

.field div {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-evenly;

    transition: all .3s
}

.field > p {
    font-size: 1rem;
    line-height: 1.75rem;

    margin-bottom: 1.5rem;

    transition: all .3s
}

.field > input {
    border: hidden;
    outline: none;
    color: #2d333f;
    font-family: inherit;
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding: 0.25rem 0.25rem;
    margin-left: 0.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

    transition: all .3s
}

.field > input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #c2c4c6;
}

.field button {
    border-radius: 0.25rem;
    border: none;
    background-color: #3795da;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    height: 100%;
    cursor: pointer;
    transition: all .3s ease-out;
    padding: 0.5rem 2.25rem;

    transition: all .3s
}

.field button:hover {
    background-color: #2480c4;
}

.field select {
    font-family: inherit;
}

/* .field option {

} */

.field textarea {
    width: 100%;
    height: 10rem;

    font-family: inherit;

    transition: all .3s
}

.field span {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

/* .neighborhood-dropdown {} */

.visible {
    visibility: visible;
    /* opacity: 100%; */
}

.disable-all {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
}