.restaurant-carousel {
    max-width: calc(80rem - 64px);
    margin-top: 48px;
}

.carousel-header {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: bold;

    border-bottom: 0.0625rem solid #d8d9db;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    padding-bottom: 16px;
}

.carousel-content {
    display: flex;
    flex-direction: row;
}

.carousel-restaurant:not(:first-child) {
    margin-left: 8px;
}

.carousel-restaurant:not(:last-child) {
    margin-right: 8px;
}

.carousel-restaurant {
    width: 25%;

    border: 1px solid #d8d9db;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    transition: 0.3s;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
}

.carousel-restaurant-image {
    height: 130px;
    object-fit: cover;
}

.carousel-restaurant-info {
    padding: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel-restaurant-name {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;

    margin-bottom: 4px;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
}

.carousel-restaurant-details {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;

    margin-bottom: 4px;
}

.carousel-restaurant-details, .carousel-restaurant-reviews {
    font-size: 0.875rem;
}

.carousel-restaurant-detail:not(:first-child):before {
    content: "\2022";
    margin: 0 4px;
}

.carousel-restaurant-reviews {
    margin-bottom: 4px;
}

.review-ratings {
    margin-right: 8px;
}

.star-icon {
    height: 1rem;
    width: 1rem;
    margin-right: 4px;
}

.review-count {
    margin-left: 4px;
    font-weight: bold;
}