.searchbar {
    width: 100%;
    padding: 4rem 0;
    background: linear-gradient(.647turn,#1a0a47cc,#0d1b4599 .01%,#0d1b45cc 51.04%,#0d1b45 99.1%);
}

.searchbar-header {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.searchbar-bar {
    width: 100%;
    /* height: 2rem; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-size: 1rem;
    font-weight: 600;
}

.searchbar-bar-dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2d333f;
    cursor: pointer;
    height: 100%;
}

.searchbar-bar-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    /* min-width: 9.375rem; */
    height: 100%;
    padding: 0.5rem;
}

.searchbar-bar-dropdown:nth-child(1) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: 0.03125rem solid #656a73;
}

.searchbar-bar-dropdown:nth-child(3) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 0.03125rem solid #656a73;
}

.searchbar-bar-dropdown-content {
    padding: 0 0.25rem;
    margin-left: 0.25rem;
    line-height: 1.5rem;
}

.down-chevron {
    margin-left: 1rem;
    height: 0.5rem;
    width: 0.5rem;
}

.searchbar-bar-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    /* min-width: 9.375rem; */
    height: 100%;
    /* height: 100%; */
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 20rem;
    margin: 0 1rem;
}

.search-input {
    border: hidden;
    outline: none;
    color: #2d333f;
    font-family: inherit;
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding: 0 0.25rem;
    margin-left: 0.25rem;
    line-height: 1.5rem;
}

.search-input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #c2c4c6;
}

.searchbar-bar-button {
    border-radius: 0.25rem;
    border: none;
    background-color: #3795da;
    color: white;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    height: 100%;
    cursor: pointer;
    transition: all .3s ease-out;
    padding: 0.5rem 2.25rem;
}

.searchbar-bar-button:hover {
    background-color: #2480c4;
}