.about-container {
    display: flex;
    flex-direction: row;
    max-width: 50rem;
}

.about-container img {
    width: 20rem;
    margin-right: 1rem;
}

.about {
}

.about p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}