.form-input {
    border: 2px solid #c2c4c6;
    border-radius: 4px;
    outline: none;
    color: #2d333f;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding: 4px;
    line-height: 24px;
    margin: 2px 0;
}

.form-input::placeholder {
    font-family: inherit;
    font-weight: bold;
    color: #c2c4c6;
}

.form-input:last-child {
    margin-top: 16px;
    border: none;
    background-color: #3795da;
    color: white;
    cursor: pointer;
}

.form-header {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: 16px;
}

strong {
    color: #3795da;
    font-weight: bold;
}

.error {
    color: red;
    margin: 2px;
}

.errors {
    margin-bottom: 10px;
}

.demo-input {
    margin: 6px 0;
    cursor: pointer;
}

.modal-exit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}