.search {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-container {
    position: relative;
    padding: 1rem 1rem 0;
    background: white;
    width: fit-content;
}

.search-header h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.search-header p {
    padding-right: 1rem;
    margin: 0 0 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.search-results {
    background: white;
    border-bottom: 0.0625rem solid #d8d9db;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 0 0 1rem;
}

.search-results li {
    max-width: 50rem;
}

.search-results h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-results a {
    text-decoration: none;
    color: inherit;
    align-self: auto;
    border: 0.0625rem solid #d8d9db;
    border-radius: 0.25rem;
    box-shadow: none;
    display: grid;
    flex-direction: row;
    grid-template-areas: "image details points";
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
}

.search-results img {
    border-radius: 0.25rem;
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.search-result-content {
    display: flex;
    flex-direction: column;
    grid-area: details;
    padding: 0 2rem;
}

.search-result-content h3 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.search-result-content > p, .search-result-content > div {
    align-items: center;
    display: flex;
    margin-top: 4px;

    font-size: 1rem;
    line-height: 1.5rem;
}

.search-result-content > p:not(.search-result-row) > span {
    margin-left: 0.5rem;
}

.search-result-row > span:not(:last-child):after {
    color: #2d333f;
    content: "\B7";
    padding: 0 0.25rem;
}

.search-page {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.search-page span {
    margin: 0 0.5rem;
    cursor: pointer;
}